.main

  .main__box1
    .main__box1__message1
      %h1 Welcome to
      %h1 Circle of Books or E-books
    .main__box1__message2
      %h2 学んだ事を共有して
      %h2 人との輪を広げませんか？

  .main__box2
    = link_to "投稿一覧へ", blogs_path, class: "main__box2__blogs"
    = link_to "新規登録", new_user_registration_path, class: "main__box2__new"
    = link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "main__box2__guest", method: :post