.body

  .body__main__box1
    .body__main__box1__message1
      %h1 Welcome to
      %h1 Circle of Books or E-books
    .body__main__box1__message2
      %h2 学んだ事を共有して
      %h2 人との輪を広げませんか？

  .body__main__box2
    = link_to "login", "#", class: "body__main__box2__login"
    = link_to "新規登録", "#", class: "body__main__box2__new"