.main {
  color: black;
  width: 100vw;
  height: 87vh;

  &__box1 {
    position: relative;
    
    &__message1 {
      position: absolute;
      top: 20px;
      margin-left: 20px;

      h1 {
        padding-bottom: 50px;
        font-size: 50px;
        font-family: cursive;
      }
    }

    &__message2 {
      position: absolute;
      margin-left: 20px;
      top: 300px;

      h2 {
        font-size: 30px;
        padding-bottom: 50px;
        font-family: monospace;
      }
    }
  }

  &__box2 {
    position: absolute;
    bottom: 200px;
    margin-left: 20px;

    &__blogs {
      width: 105px;
      
      padding: 10px;
      font-size: 20px;
      font-family: monospace;
      border: 2px solid white;
      text-decoration: none;
      text-align: center;
    }

    &__new {
      width: 105px;
      
      
      padding: 10px;
      font-size: 20px;
      font-family: monospace;
      border: 2px solid white;
      text-decoration: none;
      text-align: center;
    }

    &__guest {
      width: 220px;
      
      
      padding: 10px;
      font-size: 20px;
      font-family: monospace;
      border: 2px solid white;
      text-decoration: none;
      text-align: center;
    }
  }
}